.carousel {
  width: 100%;
  position: relative;

}

.carouselLink {
  display: block;
}

.carouselImage {
  width: 100%;
  height: auto;
  display: block;
}


.carouselArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 32px;
  padding: 8px 12px;
  cursor: pointer;
}

.carouselIndicators {
position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 999px;
}

.carouselIndicator {
  width: 24px;
  height: 4px;
  border: none;
  cursor: pointer;
  background: rgba(196, 196, 196, 0.6);
}

.carouselIndicator.active {
  background: rgb(255, 255, 255);
}

.carouselArrowLeft {
  left: 8px;
}

.carouselArrowRight {
  right: 8px;
}



@media (min-width: 1024px) {
  .carouselImage {
    height: 700px;
    object-fit: cover;
  }
}