
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

*{
   font-family: "Roboto", sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
}

p{
    color: black;
}